<table>
    <tr>
        <td>name</td>
        <td> <input type="text" name="" id="" [(ngModel)]="cust_name"> </td></tr>
        <tr><td> <input type="button" name="" id="" value="show message" (click)=welcome(); /> </td></tr>
    
</table>
<h2 *ngIf="view">welcome {{cust_name}}  </h2>
<br><hr>
<table>
    <tr><td><label for="">number1:</label> </td>
    <td><input type="text" name="" id="n1"  [(ngModel)]="n1"></td>
    </tr>
    <tr><td><label for="">number2:</label></td>
    <td><input type="text" name="" id="n2" [(ngModel)]="n2"></td>
    </tr>
    <tr><input type="button" name="" id="" value="add" (click)=add()>
    <input type="button" value="difference" (click)=sub()  >
    </tr>
</table>
 <h1 *ngIf="view1">sum is:{{s}} </h1>
 <h1 *ngIf="view2">difference is:{{d}} </h1><br>
 <table>
     <tr><td>mark</td>
    <td><input type="text" [(ngModel)]="m1"></td></tr>
    <tr><input type="submit" name="" id="" value="submit" (click)=mark();></tr>
 </table>
 <h4 *ngIf="view3"> {{m}} </h4>
 <h4 *ngIf="view4"> {{m}} </h4>