<table id="id">
<tr>
    <td>first name</td>
    <td> <input type="text" name="" id=""> </td>

</tr>
<tr>
        <td>last name</td>
        <td> <input type="text" name="" id=""> </td>
    
    </tr>
    <tr>
            <td>email</td>
            <td> <input type="text" name="" id=""> </td>
        
        </tr>
        <tr>
                <td>password</td>
                <td> <input type="text" name="" id=""> </td>
            
            </tr>
            <tr> <input type="button" name="" id="" value="sign up"> </tr>
                        
</table>
