<p>view works!</p>
<h1>name of employee is:{{Name}}</h1>
<h1>age of employee is:{{age}}</h1>
<h1>mail id of employee is:{{email}}</h1>
<h1>address:
    {{address.houseno}},{{address.street}},{{address.dist}}
</h1>
<h1>  {{10+20}}</h1>
<h2>
    Hobbies:
</h2>
<table border="2">
<tr *ngFor="let hb of hobbies;let i=index">
    <td>{{i+1}}</td>
<td> {{hb}} </td></tr></table>
<hr>
<input type="button" name="btn1" value="add project"(click)="Add()" />
<table border="2">
    <tr>
        <td></td><td>p name:</td>
        <td>duration:</td>
        <td>date:</td>
        
    </tr>
    <tr *ngFor="let x of projects;let i=index">
        <td> {{i+1}} </td>
        <td> {{x.name}} </td>
        <td> {{x.duration}} </td>
        <td> {{x.enddate}} </td>


    </tr>
</table>


